<div id="definitions">
    Definitions: 
    <ul>
        <li><b>Graph:</b> Data that represents relationships between a set of entities (for example: a social network with a connection meaning "friends" for
        instance) This data is represented by nodes (people) and edges (friendships).</li>
        <li><b>Nodes:</b> The entities present in the graph data. Represented by points (circles). In a social network, the nodes represent people.</li>
        <li><b>Edges:</b> The relationships present in the graph data. Represented by curves (lines). In a social network, the edges represent friendships.</li>
        <li><b>Degree of node:</b> The total number of edges connected to a node i.e. the number of friends someone has.</li>
        <li><b>Common neighbor of two nodes:</b> A third node which is connected to both nodes i.e. a friend which two people have in common.</li>
        <li><b>Length of shortest path:</b> The number of edges one must at least follow to move from one node to the other. </li>
        <li><b>Reachable in <i>k</i> steps:</b> A node which can be traveled to following no more than <i>k</i> edges i.e. a friend of a friend can be reached in <i>2</i> steps.</li>
    </ul>
</div>