<div id="interactions-text">
    <b>Interactions</b>
    <ul>
        <li><b>Click and drag</b> will move the visualization move it using drag.</li>
        <li><b>Scroll (wheel)</b> will bring the visualization closer or further.</li>
        <li><b>Double click</b> will move the center of the view to the clicked point.</li>
        <li><b>Hover </b> over a node to highlight it and it's neighbors.</li>
        <li><b>Reset button</b> (top right) resets the visualization to default.</li>
    </ul>    
</div>