{% extends "base.html" %}
{% block content %}

<div class="container-fluid" id="main-body">
       <div class="row" id="main">
            {% include 'sidebar.html' %}
            <div class="col-9" id="visualization-container">
            </div>
        </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/questions.js')}}"></script>
<script src="{{url_for('static', filename='js/hyperbolic_canvas.js')}}"></script>
<script src="{{url_for('static', filename='js/euclideanVis.js')}}"></script>
<script src="{{url_for('static', filename='js/sphericalVis.js')}}"></script>
<script src="{{url_for('static', filename='js/hyperbolicVis.js')}}"></script>
<script>
    var ready = (callback) => {
        if (document.readyState != "loading") callback();
        else document.addEventListener("DOMContentLoaded", callback);
      }

    ready(() => { 

        var data = {{data | tojson}};
        var userID = "{{id}}";
        var questionID = "{{q_id}}";
        var question_obj = {{question | tojson}};

        let progress = {{progress | tojson}};
        let progress_bar = document.getElementById("progressbar");
        let width = (100 * (progress[0] / progress[1])).toFixed();
        progress_bar.style = `width: ${width}%; height: 30px;`;
        document.getElementById("progressbar-text").innerHTML = `${progress[0]} / ${progress[1]}`;

        let vis, svg;
        if (data.geom === "E"){
            svg = d3.select("#visualization-container").append("svg")
                    .attr("id", "mainVis")
                    .style("border", "3px solid black");            
            vis = new EuclideanVis("#mainVis", data.nodes, data.links, data.graph.central_node);
        }
        else if(data.geom === "S"){
            svg = d3.select("#visualization-container").append("svg")
                .attr("id", "mainVis");
            vis = new SphericalVis("#mainVis", data.nodes, data.links, data.graph.central_node);
        }
        else if(data.geom === "H"){
            svg = d3.select("#visualization-container").append("div")
                    .attr("id", "hyperbolic-canvas")
                    .style("height", `${800}px`);
            vis = new HyperbolicVis("#hyperbolic-canvas", data.nodes, data.links, data.graph.central_node);
        }
        else{
            document.getElementById("visualization-container").innerHTML = "There has been a critical error, please contact the survey organizers.";
        }

        vis.process();
        vis.draw();
        // vis.interact();

        //Set sidebar height
        let sidebar = document.getElementById("sidebar");
        let sidebarTop = sidebar.getBoundingClientRect().top;
        let sidebarBottom = svg.node().getBoundingClientRect().bottom;
        sidebar.style.height = `${400}px`;
        

        //interactions are setup here too
        setupQuestionAndInteractions(vis, question_obj, questionID);

        //Would like to tuck this away, but Flask functions are not interpreted in static js file.
        let dataForm = document.getElementById("submit-button");
        dataForm.addEventListener("click", (e) => {
            e.preventDefault();
            if (!document.getElementById("question-form").value) {
                alert('Please select an answer before you submit!')
            } else {
                vis.appendInteraction("end");
                const userData = new FormData();
                userData.append("id", userID);
                userData.append("q", questionID);
                userData.append("a", document.getElementById("question-form").value);
                userData.append("j", vis.dumpJson());
                let url = `{{ url_for('next_question') }}`
                fetch(url, {
                    method: 'POST',
                    body: userData
                })
                .then((response) => {
                    window.location.href = response.url;
                });
            }

        });

    });

</script>
{% endblock %}